<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Company</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>At ANS Network Services we put our customers first. We believe in delivering an “End to End” service and customer support, which means every customer, gets the help when they need it..</p>
      </div>
      <div class="col-lg-4">
        <p>Each customer is unique and important. With this in mind, we ensure the same level of “Customer Commitment” and support to all. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>Contact Us</h2>
        <a href="tel:+9485644855492" class="btn btn-sm btn-outline btn-space">
          +91 9920485510
        </a>
        <a href="mailto:info@ansnetworkservices.com" class="btn btn-sm btn-outline btn-space">
          info@ansnetworkservices.com
        </a>
      </div>
    </div>
  </div>
</section>
